SECRET_KEY=django-insecure-CAMBIA-ESTO-EN-PRODUCCION
DEBUG=True
DATABASE_URL=postgres://avakanta:password@localhost:5432/avakanta_db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Para producción
# DEBUG=False
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.tuproveedor.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=tu@email.com
# EMAIL_HOST_PASSWORD=tu_password
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=noreply@avakanta.com
